<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Sort</mat-panel-title>
      <mat-panel-description class="mat-caption">Relevance</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-button-toggle-group class="w-100" #group="matButtonToggleGroup" vertical>
      <mat-button-toggle *ngFor="let action of sortActions" [value]="action.value" [checked]="action.value === 'rel' ? 'true': 'false'">
        <mat-icon class="mr-8">{{ action.icon }}</mat-icon> {{ action.desc }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Range</mat-panel-title>
      <mat-panel-description class="mat-caption">₹{{ minRange.value }} - ₹{{ maxRange.value }}</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="range-container">
      <app-range #minRange label="Min" [minVal]="minVal" [maxVal]="maxVal" [step]="step" [tickInterval]="tickInterval" color="accent" [value]="minRangeVal"
        (change)="onChange($event, minRange)"></app-range>
      <app-range #maxRange label="Max" [minVal]="minVal" [maxVal]="maxVal" [step]="step" [tickInterval]="tickInterval" color="accent" [value]="maxRangeVal"
        (change)="onChange($event, maxRange)"></app-range>
    </div>
  </mat-expansion-panel>
</mat-accordion>
