<mat-toolbar class="px-8">
  <a mat-icon-button routerLink="/items" matTooltip="Back to Categories">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span>{{ category.name }}</span>
  <span class="spacer"></span>

</mat-toolbar>
<mat-card class="p-0">
  <mat-nav-list class="p-0">
    <mat-list-item *ngFor="let item of items; last as isLast" [routerLink]="['/items', category.id, item.id]">
      <img matListAvatar [src]="item.img">
      <a matLine>{{ item.name }}</a>
      <span>₹{{ item.price }}</span>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
